
.sertificates {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 900px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 12px;
}

.sertificates__background {
    display: flex;
    background-color: rgb(240, 213, 119);
    border-radius: 10px;
    padding: 26px 10px;
    justify-content: center;
    margin: 0 10px;
    z-index: 0;
}

.sertificates__inner {
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-radius: 10px;
    column-gap: 10%;
    justify-content: space-around;
    width: 100%;
    height: 95%;
}

.award {
    display: flex;
    align-self: center;
}

.award__image {
    width: 99px;
}

.first-sertificate,
.second-sertificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 320px;
}

.first-sertificate__image,
.second-sertificate__image {
    width: 280px;
}

.certificate {
    color: rgb(159, 159, 159);
}

.certificate-name {
    width: 200px;
    text-align: center;
}

.swiper2,
.sertificates .swiper {
    height: 600px;
    width: 320px;
}
.sertificates .swiper-slide-active,
.sertificates .swiper .swiper-initialized .swiper-horizontal .swiper-backface-hidden {
    width: 310px !important;
}

.sertificate-slide {
    box-sizing: border-box;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
}

/* Медиазапросы */
@media(min-width: 470px) {
    .first-sertificate,
    .second-sertificate {
        width: 429px;
    }

    .first-sertificate__image,
    .second-sertificate__image {
        width: 280px;
    }

    .swiper2,
    .sertificates .swiper {
        width: 429px;
        height: 495px;
    }

    .sertificates .swiper-slide-active,
    .sertificates .swiper .swiper-initialized .swiper-horizontal .swiper-backface-hidden {
        width: 395px !important;
    }
}

@media(min-width: 768px) {
    .sertificates {
        height: 1300px;
    }

    .sertificates__background {
        height: 1100px;
    }

    .first-sertificate,
    .second-sertificate {
        width: 600px;
        justify-self: center;
        align-self: center;
    }

    .first-sertificate__image,
    .second-sertificate__image {
        width: 429px;
    }

    .swiper2,
    .sertificates .swiper {
        width: 629px;
        height: 720px;
    }

    .sertificates .swiper-slide-active,
    .sertificates .swiper .swiper-initialized .swiper-horizontal .swiper-backface-hidden {
        width: 600px !important;
        position: relative;
        right: -13px;
    }
    .sertificates__inner {
        width: 100%;
    }
}

@media(min-width: 1280px) {
    .sertificates {
        height: 700px;
        margin-left: auto;
    }

    .sertificates__background {
        width: 1160px;
        height: 430px;
        padding: 26px 20px;
    }

    .sertificates__inner {
        flex-direction: row;
        gap: 20px;
    }

    .first-sertificate,
    .second-sertificate {
        width: 350px;
        padding-top: 20px;
    }

    .first-sertificate__image,
    .second-sertificate__image {
        width: 231px;
    }

    .award__image {
        padding-top: 30px;
        padding-left: 30px;
        width: 359px;
        height: 438px;
    }

    .swiper2 {
        height: 500px;
    }

    .sertificate-slide,
    .swiper-slide {
        flex-shrink: 1 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .swiper-wrapper {
        display: flex;
    }
}